{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h3 align="center">Where would you like to go?</h3>
<div class="form-row">
    <div class="form-group col-md-2"><p><a href="../static/Area North.pdf" target="_blank">Area North</a><br>
    <a href="../static/Area Central.pdf" target="_blank">Area Central</a><br>
    <a href="../static/Area South.pdf" target="_blank">Area South</a>
    </p>
    </div>
    <div class="form-group col-md-8">
      <img src="../static/cape-town-rail-map.jpg" alt="Train Route Map" style="width:600px;height:400px;">
    </div>
  </div>

  <form method="POST">
    <div class = "form-row">
      <div class="form-group col">
      <input list="stations1" name="departureStation" id="departureStation", placeholder="From">
      <datalist id="stations1">
        {% for s in stations %}
        <option value = "{{s}}">
        {% endfor %}
      </datalist>
      </div>
      <div class="form-group col">
        <input list="stations2" name="destinationStation" id="destinationStation", placeholder="To">
        <datalist id = "stations2">
          {% for s in stations %}
          <option>{{s}}</option>
          {% endfor %}
        </datalist>
      </div>
      <div class="form-group col">
        <input list="days" name="day" id="day", placeholder="Day">
        <datalist id = "days">
          {% for day in days %}
          <option>{{day}}</option>
          {% endfor %}
        </datalist>
      </div>
      <div class="form-group col">
        <label for="departureTime">Time</label>
        <input
          type="time"
          class="form-time"
          id="departureTime"
          name="departureTime"
        />
      </div>
    </div>
  </div>
  <div align = "center">
    <button type="submit" class="btn btn-primary">Calculate</button>
  </div>
</form>
{% endblock %}
